@import "@/shared/styles/_root.scss";

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  .logo {
    color: #FFF;
  }
}

@media (max-width: 768px) {
}
